<mat-card class="w-full shadow-lg">
    <img
      class="!h-96 !w-auto !max-w-full"
      src="https://rukminim2.flixcart.com/image/612/612/kq9ta4w0/t-shirt/x/5/g/l-723-4-ftx-original-imag4bhzs2mgfe3m.jpeg?q=70"
      mat-card-image
      alt=""
    />
    <div class="p-4">
      <h2 class="font-semibold !m-0">Product brand</h2>
      <h4 class="!m-0">Product name</h4>
      <div class="flex justify-center px-4 py-3 gap-3">
        <span class="text-green-500">Rs. 300</span>
        <span class="text-gray-500"><s>Rs. 600</s></span>
        <span class="text-orange-500">(50% OFF)</span>
      </div>
    </div>
  </mat-card>